<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>G-Clef</key>
	<dict>
		<key>G1</key>
		<string>B</string>
		<key>G2</key>
		<string>C</string>
		<key>G3</key>
		<string>D</string>
		<key>G4</key>
		<string>E</string>
		<key>G5</key>
		<string>F</string>
		<key>G6</key>
		<string>G</string>
		<key>G7</key>
		<string>A</string>
		<key>G8</key>
		<string>B</string>
		<key>G9</key>
		<string>C</string>
		<key>G10</key>
		<string>D</string>
		<key>G11</key>
		<string>E</string>
		<key>G12</key>
		<string>F</string>
		<key>G13</key>
		<string>G</string>
		<key>G14</key>
		<string>A</string>
		<key>G15</key>
		<string>B</string>
		<key>G16</key>
		<string>C</string>
		<key>G17</key>
		<string>D</string>
	</dict>
	<key>F-Clef</key>
	<dict>
		<key>F1</key>
		<string>C</string>
		<key>F2</key>
		<string>B</string>
		<key>F3</key>
		<string>A</string>
		<key>F4</key>
		<string>G</string>
		<key>F5</key>
		<string>F</string>
		<key>F6</key>
		<string>E</string>
		<key>F7</key>
		<string>D</string>
		<key>F8</key>
		<string>C</string>
		<key>F9</key>
		<string>B</string>
		<key>F10</key>
		<string>A</string>
		<key>F11</key>
		<string>G</string>
		<key>F12</key>
		<string>F</string>
		<key>F13</key>
		<string>E</string>
		<key>F14</key>
		<string>D</string>
		<key>F15</key>
		<string>C</string>
		<key>F16</key>
		<string>B</string>
	</dict>
	<key>Mix-Clef</key>
	<dict>
		<key>G1</key>
		<string>B</string>
		<key>G2</key>
		<string>C</string>
		<key>G3</key>
		<string>D</string>
		<key>G4</key>
		<string>E</string>
		<key>G5</key>
		<string>F</string>
		<key>G6</key>
		<string>G</string>
		<key>G7</key>
		<string>A</string>
		<key>G8</key>
		<string>B</string>
		<key>G9</key>
		<string>C</string>
		<key>G10</key>
		<string>D</string>
		<key>G11</key>
		<string>E</string>
		<key>G12</key>
		<string>F</string>
		<key>G13</key>
		<string>G</string>
		<key>G14</key>
		<string>A</string>
		<key>G15</key>
		<string>B</string>
		<key>G16</key>
		<string>C</string>
		<key>G17</key>
		<string>D</string>
		<key>F1</key>
		<string>C</string>
		<key>F2</key>
		<string>B</string>
		<key>F3</key>
		<string>A</string>
		<key>F4</key>
		<string>G</string>
		<key>F5</key>
		<string>F</string>
		<key>F6</key>
		<string>E</string>
		<key>F7</key>
		<string>D</string>
		<key>F8</key>
		<string>C</string>
		<key>F9</key>
		<string>B</string>
		<key>F10</key>
		<string>A</string>
		<key>F11</key>
		<string>G</string>
		<key>F12</key>
		<string>F</string>
		<key>F13</key>
		<string>E</string>
		<key>F14</key>
		<string>D</string>
		<key>F15</key>
		<string>C</string>
		<key>F16</key>
		<string>B</string>
	</dict>
</dict>
</plist>
